<{% load static %}>
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Сайт рецептов
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    {% endblock %}
</head>
<body>
<header class="header">
    {% block header %}

        <div class="navbar">
            <nav class="nav">
                {% now "l d M Y" %}
                {% include 'inc_menu.html' %}
            </nav>
        </div>

    {% endblock %}
</header>
<div class="main container">
{% block h1 %}
    <h1>Главная страница</h1>
{% endblock h1 %}

    {% block main %}


        <h2>Добро пожаловать на сайт рецептов</h2>


    {% endblock %}
</div>
<footer class="footer">
    {% block footer %}

        <small>
            <address>
                <a href="mailto:admin5588@mail.ru">admin5588@mail.ru</a>
                <a href="tel:749578566321">+749578566321</a>
            </address>
            &copy; TiVi_ov
            {% now "Y" %}
        </small>

    {% endblock %}
</footer>
</body>
</html>






  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/app.js' %}" defer></script>
    <title>My Site</title>
  </head>
  <body>
  	<header>
  		{%if request.user.is_authenticated %}
  			<span>Hi {{ request.user.username | title }}</span>
  			<a href="{% url 'logout' %}">Logout</a>

  		{%endif%}
  	</header>
  	<main>
	  	{% if messages %}
			<div class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
					{{ message }}
				</div>
			{% endfor %}
			</div>
		{% endif %}

	    {%block content%}
	    {%endblock content%}
  	</main>

  </body>
</html>